fastapi==0.115.6
uvicorn[standard]==0.32.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.20
python-dotenv
anyio
bcrypt

# core/ dependencies
PyMuPDF
langchain
langchain-community
langchain-text-splitters
sentence-transformers==3.0.1
faiss-cpu
numpy
torch==2.9.0
rank-bm25
groq
tqdm