fastapi==0.115.6
uvicorn[standard]==0.32.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.20
python-dotenv
anyio
bcrypt

# core/ dependencies
PyMuPDF
langchain
langchain-community
langchain-text-splitters
sentence-transformers==3.0.1
faiss-cpu==1.13.1
numpy==2.3.5
torch==2.6.0
rank-bm25
groq
tqdm